table, th, td {
    border: 1px solid rgb(55, 16, 65);
    border-collapse: collapse;
    }
    th, td {
    padding: 15px;
    }
    .editing{
        margin: 15px;
        //background-color: rgb(223, 223, 109);
    }
    