<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h1>Liste des articles</h1>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Date insertion</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let article of tab_art">
                    <tr>
                        <td>{{article.codea}}</td>
                        <td>{{article.libelle | uppercase}}</td>
                        <td>{{article.prix | number : '1.3'}}</td>
                        <td>{{article.qte}}</td>
                        <td>{{article.dateAjout | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <a href="update-article" class="editing" (click)="modifArticle(article)"><img src="assets/img/edit.png"></a>
                                    <!-- class="btn btn-danger" -->
                                <a (click)="suppArticle(article)"><img src="assets/img/delete.png"></a>
                                
                            </td>
                            
                                
                            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>